footer {
    text-align:center;
    position: fixed;
    bottom: 2px;
    right:0vw;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
}
*, *::before, *::after {
    box-sizing: boder-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('./istockphoto-1347375207-170667a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}

.popup {
    width: 800px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50% ) scale(0);
    text-align: center;
    padding:0 30px 30px;
    color:rgb(255, 255, 255);
    font-size: large;
    visibility: hidden;
    transition: transform 0.5s,top 0.5s;
}

.open-popup {
    visibility: visible;
    top:50%;
    transform:translate(-50%,-50% ) scale(1) ;

}

.popup img {
    width: 560px;
    height: 460px;
    margin-top: -120px;
    border-radius: 25%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.popup h2 { 
    font-size:38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #00ac9e;
    color: rgb(0, 0, 0);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.popup1{
    width: 800px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50% ) scale(0);
    text-align: center;
    padding:0 30px 30px;
    color:rgb(255, 255, 255);
    font-size: large;
    visibility: hidden;
    transition: transform 0.5s,top 0.5s;
}
.open-popup1 {
    visibility: visible;
    top:50%;
    transform:translate(-50%,-50% ) scale(1) ;

}
.popup1 img {
    width: 560px;
    height: 460px;
    margin-top: -120px;
    border-radius: 25%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}
.popup1 h2 { 
    font-size:38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup1 button {
    width: 50%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #00ac9e;
    color: rgb(0, 0, 0);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.title{
    padding:0px;
    margin:0px;
    display: flex;
    position:fixed;
    top: 15px;
    width: 600px;
    height: 110px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    background-image: url('/webtwxt.png') ;
    background-position: flex;
    background-position-x: 0px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow:0 0 30px 5px;
    color:antiquewhite
}

.container {
    color: rgb(255, 255, 255);
    width: 800px;
    max-width: 80%;
    position:fixed;
    background-image:url('./istockphoto-1072976146-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 65vh;
    left: 25vw;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-image:url('./b9a1c98503385170377381200afb35ce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid hsl(160, 94%, 14%);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    color:rgb(253, 253, 253);
}

.btn:hover {
    border-color: rgb(1, 1, 1);
}
